<div class="container">
      <div class="my-3">
        <div class="h4">Thangaraj M</div>
        <div class="footer-nav">
          <nav role="navigation">
            <ul class="nav justify-content-center">
              <li class="nav-item"><a class="nav-link" href="www.linkedin.com/in/thangaraj-geek" title="Linkedin"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">linkedin</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="https://github.com/thangaraj26" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="https://www.reddit.com/user/thangarajgeek" title="Reddit"><i class="fab fa-reddit"></i><span class="menu-title sr-only">Reddit</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="https://twitter.com/thanga_Raj6" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
              </li>
            </ul>
          </nav>
      </div>
   </div>
</div>